<div class="gb-ad-stack">

  <a href="https://t.me/localyk2" target="_blank" rel="noopener">
    <img
      src="https://cdn.wishctmenu.com/images/SiFangChaiR1.gif"
      alt="廣告 1 四方菜 R1"
    />
  </a>

  <a href="https://t.me/localyk2" target="_blank" rel="noopener">
    <img
      src="https://cdn.wishctmenu.com/images/PJKLSubang.gif"
      alt="廣告 2 PJKL Subang"
    />
  </a>


  <a href="https://t.me/localyk2" target="_blank" rel="noopener">
    <img
      src="https://cdn.wishctmenu.com/images/Myera.gif?not-from-cache-please"
      alt="廣告 3 Myera"
    />
  </a>
</div>
